:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-29xl: 3rem;    /* 48px / 16px */
  --font-size-17xl: 2.25rem;  /* 36px / 16px */
  --font-size-51xl: 4.375rem; /* 70px / 16px */
  --font-size-45xl: 4rem;     /* 64px / 16px */
  --font-size-41xl: 3.75rem;  /* 60px / 16px */
  --font-size-32xl: 3.1875rem;/* 51px / 16px */
  --font-size-19xl: 2.375rem; /* 38px / 16px */
  --font-size-77xl: 6rem;     /* 96px / 16px */
  --font-size-5xl: 1.5rem;    /* 24px / 16px */

  /* Colors */
  --color-black: #000;
  --color-palegoldenrod: #caf1ab;
  --color-lavender-100: #f4ddf8;
  --color-lavender-200: #cee6f7;
  --color-khaki-100: #e0e277;

  /* Gaps */
  --gap-162xl: 11.3125rem;    /* 181px / 16px */
  --gap-xl: 1.25rem;          /* 20px / 16px */
  --gap-mini: 0.9375rem;      /* 15px / 16px */

  /* Paddings */
  --padding-4xl: 1.4375rem;   /* 23px / 16px */
  --padding-5xl: 1.5rem;      /* 24px / 16px */
  --padding-3xl: 1.375rem;    /* 22px / 16px */
  --padding-94xl: 7.0625rem;  /* 113px / 16px */
  --padding-54xl: 4.5625rem;  /* 73px / 16px */
  --padding-xl: 1.25rem;      /* 20px / 16px */
  --padding-lg: 1.125rem;     /* 18px / 16px */
  --padding-4xs: 0.5625rem;   /* 9px / 16px */
  --padding-2xs: 0.6875rem;   /* 11px / 16px */

  /* Border radiuses */
  --br-xl: 1.25rem;           /* 20px / 16px */
  --br-mini: 0.9375rem;       /* 15px / 16px */
  --br-3xs: 0.625rem;         /* 10px / 16px */
}
